.order_car_year {
  margin: 0px;
  font-size: 13px;
  color: rgba(238, 238, 238, 0.404);
}
.order-header {
  display: flex;
  align-items: end;
}
.status-new {
  min-width: 140px;
  text-align: center;
  color: #b2b3be;
  padding: 3px 10px;
  border-radius: 7px;
  border: 1px solid #c0cacf;
  background: #271479;
  font-weight: 600;
}

.status-in-progress {
  min-width: 140px;
  text-align: center;
  color: #ff9800;
  padding: 3px 10px;
  border-radius: 7px;
  border: 1px solid #ff9800;
  background: #613a00;
  font-weight: 600;
}

.status-waiting {
  min-width: 140px;
  text-align: center;
  padding: 3px 10px;
  border-radius: 7px;
  color: #c435e0f8;
  border: 1px solid #c291cc;
  background: #300047;
  font-weight: 600;
}

.status-ready {
  min-width: 140px;
  text-align: center;
  color: #002903;
  border: 1px solid #001801;
  background: #a2cea2;
  padding: 3px 10px;
  border-radius: 7px;
  font-weight: 600;
}

.status-completed {
  min-width: 140px;
  text-align: center;
  color: #6fcf74;
  border: 1px solid #83c585;
  background: #012c03;
  padding: 3px 10px;
  border-radius: 7px;
  font-weight: bold;
}

.status-cancelled {
  min-width: 140px;
  text-align: center;
  color: #cc2215;
  border: 1px solid #ad1818;
  background: #360000;
  padding: 3px 10px;
  border-radius: 7px;
  font-weight: 600;
}

.status-order {
  margin-top: 10px;
}
.status-order {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
.order_chevron {
  margin-left: auto;
}
.mechanic-right {
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  color: #bebebe;
}
.progress-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f1f3f5;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #3a8cff, #2a78ff);
  border-radius: 20px;
  transition: width 0.3s ease;
}

.progress-value {
  font-size: 14px;
  font-weight: 600;
  color: #444;
  min-width: 40px;
  text-align: right;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
}

.progress-value-top {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background: #f1f3f5;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #550303, #ff7b00);
  border-radius: 20px;
  transition: width 0.3s ease;
}

.paddingBottom {
  padding-bottom: 15px;
}
.customers-header {
  margin-bottom: 0px;
}
.dialog-content-base {
  overflow-x: hidden;
}
.dialog-input {
  width: auto !important;
}

.priority_LOW {
  background: rgba(0, 128, 0, 0.1);
  color: green;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.priority_NORMAL {
  background: rgba(30, 144, 255, 0.1);
  color: #1e90ff;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.priority_HIGH {
  background: rgba(255, 165, 0, 0.15);
  color: orange;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.priority_URGENT {
  background: rgba(255, 0, 0, 0.15);
  color: red;
  padding: 2px 8px;
  border-radius: 6px;
  font-weight: bold;
  text-transform: uppercase;
}
.delete_hover {
  transition: all 0.2s ease-in-out;
}
.delete_hover:hover {
  transform: translateY(-2px);
  color: rgb(180, 180, 180);
}
